<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>

    <h1>Welcome to Our Flask API</h1>

    <h2>About Us</h2>
    <p>We are a small team developing a powerful API to manage products. Our Flask-based API allows you to perform operations like adding, updating, deleting, and listing products easily.</p>
    <p>With a simple design and easy-to-use endpoints, our API is perfect for developers who want to integrate product management into their applications.</p>

    <footer>
        <p>&copy Flask API</p>
    </footer>

</body>
</html>